<nav>Comments Page</nav>

    <div class="container">
        
        <div id="id-div">
            <form>
                <div class="form-group">
                  <label for="candidate-number">Enter Candidate Number</label>
                  <input type="email" class="form-control" id="candidate-number" placeholder="e.g. 20">           
                </div>
            </form>
        </div>

         <div id="button-div">
            <button type="submit" class="btn btn-primary btn-lg btn-block" id="submit"><i class="fa fa-check-circle" aria-hidden="true"></i>Submit</button>
        </div>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/comments.js"></script>