<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Audition App</span>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">Welcome to Audition App</h1>
    <p class="lead">Please choose your role.</p>
  </div>
</div>




<div class="container">
  <div class="row text-center">
    <div class="col-4">
      <a href="proctor-login/"><button type="button" class="btn btn-default" id="candidateBtn">Candidate</button></a>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-default" id="proctorBtn">Proctor</button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-default" id="committeeBtn">Committee Member</button>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>