<section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
          <img class="" src="assets/img/logo1.png" alt="Imperial">
        </div>

        <br>
        
        <h2>We are <span class="typed" data-typed-items="the conductors of change., orchestrating diversity., uniting symphonies."></span></h2>

        <br>

        <h3>Register Here:</h3>

          <div class="actions">
          <a href="/judgeregister" class="btn-services">Judge</a>
          <a href="/candidateregister" class="btn-services">Candidate</a>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex align-items-center">

      <a href="index.html" class="logo mr-auto"><img src="assets/img/logo2.png" alt=""></a>
      <!-- Uncomment below if you prefer to use a text logo -->
      <!-- <h1 class="logo mr-auto"><a href="index.html">Imperial</a></h1> -->

      <nav class="nav-menu d-none d-lg-block">
         <ul>
          <li class="active"><a href="#index.html">| Home |</a></li>
          <li><a href="#signin">| Sign In |</a></li>

          <!-- 
            <li><a href="#portfolio">| Scores |</a></li>
            <li class="drop-down"><a href="">Scores</a>
              <ul>
                <li><a href="#">Full Score Analysis</a></li>
                <li class="drop-down"><a href="#">View:</a>
                  <ul>
                    <li><a href="#">Scores</a></li>
                    <li><a href="#">Comments</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          -->

        </ul>
      

      </nav> <!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">About BEA</h3>
            <div class="section-title-divider"></div>
            <p class="section-description">Read about the idea behind this application, and where we intend to go from here.</p>
          </div>
        </div>
      </div>
      <div class="container about-container wow fadeInUp">
        <div class="row">

          <div class="col-lg-6 about-img">
            <img src="assets/img/definition.jpg" alt="">
          </div>

          <div class="col-md-6 about-content">
            <h2 class="about-title">Improving Auditions</h2>
            <p class="about-text">
              Prior to the COVID-19 pandemic, one of our team members, James Zimmermann, was an orchestral musician.  Having spent countless hours preparing for auditions as a student and listening to auditions as an adjudicator, he always dreamt of an electronic system for taking notes and tallying votes.  
            </p>
            <p class="about-text">
              Blind Ear Auditions is exactly that:  A application for adjudicators to keep track of their comments, store them in a database, and make them available to candidates after the process concludes, allowing the candidates to study their feedback and use the process as a learning experience.
            </p>
            <p class="about-text">
              Additionally, by collecting demographic data on judges and candidates, Blind Ear will help orchestras assess where individual and institutional biases exist - if they exist at all.  Musicians trade in emotions as part of their work, and aspiring musicians from underrepresented demographics often say they feel that the audition process itself is rigged against them.  We intend to investigate the truthfulness of that assessment using this application. 
            </p>
            <p class="about-text">
              What we are pesenting now barely scratches the surface of the concept.  We hope to finish the application over the course of the next year, partner with a data analytics firm, and bring orchestras around the country on board for testing once the industry resumes.  With any luck, the industry will realize that a data-minded approach will help orchestras modernize the hiring process and ensure that the cream of the applicant pool rises to the top.  
            </p>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Subscribe Section ======= -->
    <section id="subscribe">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-8">
            <h3 class="subscribe-title"></h3>
            <p class="subscribe-text"></p>
          </div>
          <!-- <div class="col-md-4 subscribe-btn-container">
            <a class="subscribe-btn" href="#">Subscribe Now</a>
          </div> -->
        </div> 
      </div>
    </section><!-- End Subscribe Section -->

  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            &copy; O.G Group &hearts;
          </div>
          <div class="credits">
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/jquery-sticky/jquery.sticky.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!--  Main JS File -->
  <script src="assets/js/main.js"></script>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
